HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


build/
**/bin/
**/classes/
**/maven-archiver/
**/maven-status/
**/surefire-reports/
.mvn/
*.original
*.classpath
*.prefs
*.project
*.class
*.pmd
application-local.properties
log/
reports/
src/generated/
src/main/resources/wsdl/
log-backup/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
document/MBG/mysql/
